{% extends 'user_page.html' %}

{% block content %}

<div class="container">
    <h3>Stories You've Completed</h3>
    <table class="table table-striped" id="whole_table">
        <thead class="thead-dark">
            <!-- <tr>
                <td></td>
                <td>                    
                    <select name="base_language_selection" id="base_language_selection">
                    <option value="all">All Languages</option>                        
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                    <option value="German">German</option>
                    <option value="Arabic">Arabic</option>
                    <option value="French">French</option>
                    <option value="Italian">Italian</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Farsi">Farsi</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Chinese">Chinese</option>
                    </select>   
                </td>
                <td>
                    <select name="foreign_language_selection" id="foreign_language_selection">
                        <option value="all">All Languages</option>
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                        <option value="German">German</option>
                        <option value="Arabic">Arabic</option>
                        <option value="French">French</option>
                        <option value="Italian">Italian</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Farsi">Farsi</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Chinese">Chinese</option>
                    </select>                        
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
            <th id="title">
                Story Title</th>
            <th id="base_language">
                Base Language
            </th>
            <th id="foreign_language">
                Foreign Language
            </th>
            <th id="sentences"> Sentence Length</th>
            <th>Time of Test Completion</th>
            <th>Your Score</th>
            <th>Your Highest Score</th>
        </thead>

        <tbody id="tbody_stories">
            {% for story in stories %}
                <tr class="table_rows">
                    <td class="story_titles">
                        <a href="/story/{{story.story.id}}">{{story.story.title}}</a>
                    </td>
                    <td>{{story.story.base_language}}</td>
                    <td>{{story.story.foreign_language}}</td>
                    <td>{{story.story.sentences|length}}</td>
                    <td>{{story.created_at.strftime('%m-%d-%Y at %H:%M')}}</td>
                    <td>{{story.score}}%</td>
                    <td>{{ story.story.scores|map(attribute='score')|max }}%</td>
                </tr>
            {% endfor %}

        </tbody>


    </table>


</div>

{% endblock %}